body{
    background-color: rgb(34,34,34);
    color: white;
    Font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    
   
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
    }

    a{
        color: white;
    }

    a:hover{
        color: rgb(	30 215 96);
        transition: 0.3s all;
    }

    #me-siga-btn{
        border: 2px solid rgb(132, 13, 201);
        padding: 10px;
        border-radius: 15px;
    }

    #inscreva-se-btn:hover{
        background-color: rgb(	30 215 96);
    }

    h1{
        font-weight: 200;
        
        
    }

    main{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    
    h2{
        font-size: 56px;
        line-height: 56px;
        font-family: 'Poppins', sans-serif;
        color: rgb(	127, 255, 212);
      
        
    }

    span{
        color: rgb(	white)
    }

    p{
        line-height: 20px;
        max-width: 500px;
        font-family:'Poppins', sans-serif;
        margin-top: 100px;
    }

    img{
        width: 540px;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-top: 150px;
    }

    form [type="submit"]{
        height: 50px;
        width: 50%;
        background-color: rgb(132, 13, 201);
        color: white;
        font-weight: bold;
    }

    form [type="submit"]:hover{
        cursor: pointer;
    }

    input{
        margin-top: -200px;
        height: 10px;
        padding: 15px;
        border-radius: 20px;
        border: none;
        font-size: 15px;
    }

    nav{
        display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 40px auto 100px auto;
    gap: 30px;
    }

    

    .carroselparado{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 50px;
        width: 700;
    }

    .computador{
        width: 750px;
    }

    .carrosel{
        position: absolute;
        
        width: 650px;
        z-index: -1;
        top: 30px;
       
        
    }

    .carrosel img{
        object-fit: cover;
        height: 410px;
        
    }


    .meusprojetos{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 100px;
        font-family: 'Poppins' sans-serif;
       
    }

    .meusprojetos{
        color: rgb(132, 13, 201);
    }

    #msk1{
        padding: 500px;
        text-align: center;
        margin-top: -500px;
        flex-direction: column;
    }

    .fotos{
        margin-top: 100px;
        background-color: rgb(34,34,34);
        padding: 100px;
    }

    .minhasskills{
        margin-top: 150px;
        padding-left: 400px;
    }

   .html{
    margin-top: 1px;
    width: 140px;
    height: 146px;
    
   }

   .css{
    width: 170px;
    height: 170px;
    
}

.boostrap{
    width: 150px;
    height: 150px;
    
}

.java{
    width: 150px;
    height: 150px;
    
}

.fotos{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.divfotos{
    padding: 30px;
}


.html:hover{
    
        transform: translateY(-60%);
        
      
}

.css:hover{
    
    transform: translateY(-60%);
    
  
}


.boostrap:hover{
    
    transform: translateY(-60%);
    
  
}

.java:hover{
    
    transform: translateY(-60%);
    
  
}